.rcb {
  background: linear-gradient(to top, #1e293b, #a4261d);
}

.kkr {
  background: linear-gradient(to top, #1e293b, #5755a7);
}

.kxp {
  background: linear-gradient(to top, #1e293b, #d91c1f);
}

.csk {
  background: linear-gradient(to top, #1e293b, #f7db00);
}

.rr {
  background: linear-gradient(to top, #1e293b, #da237b);
}

.mi {
  background: linear-gradient(to top, #1e293b, #13418b);
}

.srh {
  background: linear-gradient(to top, #1e293b, #f26d22);
}

.dc {
  background: linear-gradient(to top, #1e293b, #4f5db0);
}

.team-match-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.responsive-container {
  width: 90%;
  max-width: 500px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    margin-top: 96px;
    max-width: 1110px;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-image {
  width: 100%;
}

.match-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 24px;
}

@media screen and (min-widt: 768px) {
  .match-card-container {
    margin-top: 32px;
  }
}

.back-button {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

.back-button:hover {
  background-color: #e2e8f0;
}

.pie-chart-container {
  background-color: #ffffff;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.pie-title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
}
